body{
    background-color: blueviolet;
}

h1,h2{
    margin-top: 350px;
    width: 350px;
    height: 150px;
    border-radius: 5px;
    font: italic 1.7rem serif;
    box-shadow: 0px 0px 15px rgb(212, 0, 255);
    background: #000;
    color: rgb(47, 255, 6);
    padding: 30px;
    box-sizing: border-box;
}